*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Baloo 2', cursive;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background: #ffffff;
    padding: 0 !important;
}
.navbar-brand
{
    font-family: 'Rock Salt', cursive !important;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 800;
    float: left;
    text-align: right;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    font-size: 30px !important;
}

/*-------------banner section---------------*/

#banner
{
    background: #548687;
    color: #fffffa;
}
.banner-image
{
    width: 100%;
    height: auto;
}

/*--------------about me section-----------------*/

#about-me
{
    padding: 80px 0;
    background: #B0413E;
    color: #fffffa;
}
.about-me
{
    margin: auto;
}
.title
{
    margin-bottom: 30px;
}
.about-me-text
{
    padding-top: 15px;
}
.about-me-text p
{
    font-size: 20px;
}
#about-me .btn-primary
{
    box-shadow: none;
    padding: 8px 20px;
    border: 1px solid #fffffa;
    border-radius: 20px;
    background: #B0413E;
}
.button-row
{
    margin: 20px 30px;
}

/*------------------resume section----------------*/

#resume
{
    background: #fbe8da;
    padding: 80px 0;
}
.resume-title
{
    padding-top: 50px;
}
hr.solid {
    border-top: 3px solid #bbb;
}
.resume-block
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.resume-icon
{
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #B0413E;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 33%;
    margin-top: 14.4px;
    margin-left: -38.4px;
}
.resume-header
{
    float: left;
    width: 35%;
    padding-right: 150px;
    text-align: right;
}
.resume-content
{
    margin-right: -100px;
}
.resume-content ul
{
    list-style-type: circle;
}
.resume-content span
{
    margin-bottom: 25px;
}
.skill
{
    border: 1px solid #548687;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.333333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    border-radius: 8px;
}

/*------------------projects section-------------------*/

#projects
{
    background: #fdf3ed;
    padding: 80px 0;
}