*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #11998E, #38EF7D);
    padding: 0 !important;
}
.navbar-brand
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}

/*-------------banner section---------------*/

#banner
{
    background-image: linear-gradient(to right, #11998E, #38EF7D);
    color: #fff;
    padding-top: 5%;
}
.banner-title
{
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}
.img-fluid
{
    max-width: 90% !important;
    margin-left: 30px;
}
.skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #823A9C 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
  }
